[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=davidlam
WorkingDirectory=/home/davidlam/sites/DOMAIN
EnvironmentFile=/home/davidlam/sites/DOMAIN/.env

ExecStart=/home/davidlam/sites/DOMAIN/virtualenv/bin/gunicorn \
--bind unix:/tmp/DOMAIN.socket \
superlists.wsgi:application

[Install]
WantedBy=multi-user.target
